.avatar {
    position: absolute;
    top: 6px;
    left: 0px;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    overflow: hidden;
    display: none;
}
.moon-stars {
    position: absolute;
    top: 6px;
    left: 42px;
    width: 26px;
    height: 26px;
    display: none;
}
.layout-grid-add {
    position: absolute;
    top: 6px;
    left: 84px;
    width: 26px;
    height: 26px;
    display: none;
}
.bell-icon {
    position: absolute;
    top: 5.5px;
    left: 0px;
    width: 26px;
    height: 26px;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #ea5455;
    width: 18px;
    height: 18px;
}
.div {
    position: absolute;
    top: 1.74px;
    left: 5.77px;
    line-height: 14px;
    font-weight: 600;
    display: inline-block;
    width: 5px;
    height: 14px;
}
.dot {
    position: absolute;
    top: 1.76px;
    left: 14.23px;
    width: 18px;
    height: 18px;
}
.notification {
    position: absolute;
    top: 0.5px;
    left: 0px;
    width: 27.6px;
    height: 37px;
    cursor: pointer;
}
.bg-color {
    position: absolute;
    height: 100%;
    width: calc(100% - 0.4px);
    top: 0px;
    right: 0.4px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(26, 54, 93, 0.3);
    overflow: hidden;
}
.image-99-icon {
    position: absolute;
    height: 107.81%;
    width: 107.89%;
    top: 0%;
    right: -3.98%;
    bottom: -7.81%;
    left: -3.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.animoji {
    position: absolute;
    top: 0px;
    left: 52px;
    border-radius: 65px;
    background-color: #ebf8ff;
    width: 30.4px;
    height: 32px;
    overflow: hidden;
}
.action {
    position: absolute;
    top: 17px;
    left: 1011px;
    background-color: #ebf8ff;
    width: 90px;
    height: 38px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
.cash {
    position: absolute;
    top: 324px;
    left: 24px;
    font-size: 48px;
    letter-spacing: -0.02em;
    line-height: 32px;
    font-weight: 500;
    color: rgba(255, 198, 0, 0.7);
}
.status-of-recent {
    position: absolute;
    top: 44px;
    left: 24px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
    color: #2a69ac;
}
.cash1 {
    position: absolute;
    top: 147px;
    left: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
}
.cash2 {
    position: absolute;
    top: 202px;
    left: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
}
.total-lifetime-reservations {
    position: absolute;
    top: 577px;
    left: 575px;
    border-radius: 8px;
    background-color: #fff;
    width: 523px;
    height: 405px;
    color: #1a365d;
}
.andrea {
    color: #2a69ac;
}
.welcome-back-andrea-container {
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 24px;
    line-height: 22px;
    color: #1a365d;
}
.total-on-going {
    margin: 0;
}
.total-on-going-reservations-container {
    position: absolute;
    top: 77px;
    left: 29px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
}
.cash3 {
    position: absolute;
    top: 303px;
    left: 29px;
    font-size: 100px;
    letter-spacing: -0.02em;
    line-height: 32px;
    color: #1a365d;
}
.arrow {
    position: absolute;
    top: 182px;
    left: 183px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    transform:  rotate(90deg);
    transform-origin: 0 0;
}
.total-completed-reservations {
    position: absolute;
    top: 123px;
    left: 570px;
    border-radius: 8px;
    background-color: #fff;
    width: 528px;
    height: 405px;
}
.lifetime-completed-reservation-container {
    position: absolute;
    top: 79px;
    left: 29px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
}
.cash4 {
    position: absolute;
    top: 307px;
    left: 29px;
    font-size: 100px;
    letter-spacing: -0.02em;
    line-height: 32px;
    color: #1a365d;
}
.total-completed-reservations1 {
    position: absolute;
    top: 123px;
    left: 25px;
    border-radius: 8px;
    background-color: #fff;
    width: 528px;
    height: 405px;
}
.reservation-calendar1 {
    position: absolute;
    top: 41px;
    left: 31px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
}
.arrow-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}
.march-2024 {
    position: relative;
    line-height: 120%;
}
.arrow-icon1 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.month {
    position: absolute;
    width: 100%;
    top: calc(50% - 120.5px);
    right: 0%;
    left: 0%;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.day {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 20.8px);
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 32px;
}
.calendar-day {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 86%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
    color: #1a365d;
}
.calendar-day1 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 71.67%;
    bottom: 0%;
    left: 14.33%;
    background-color: #fff;
    overflow: hidden;
    color: #1a365d;
}
.calendar-day2 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 57.33%;
    bottom: 0%;
    left: 28.67%;
    background-color: #fff;
    overflow: hidden;
    color: #6c7470;
}
.calendar-day3 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 43%;
    bottom: 0%;
    left: 43%;
    overflow: hidden;
    cursor: pointer;
}
.calendar-day4 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 28.66%;
    bottom: 0%;
    left: 57.34%;
    background-color: #fff;
    overflow: hidden;
}
.calendar-day5 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 14.33%;
    bottom: 0%;
    left: 71.67%;
    background-color: #fff;
    overflow: hidden;
}
.calendar-day6 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 86%;
    background-color: #fff;
    overflow: hidden;
}
.week-1 {
    position: absolute;
    height: 16.33%;
    width: 100%;
    top: 16.84%;
    right: 0%;
    bottom: 66.84%;
    left: 0%;
    color: #ea5455;
}
.calendar-day7 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 86%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
}
.calendar-day8 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 71.67%;
    bottom: 0%;
    left: 14.33%;
    background-color: #fff;
    overflow: hidden;
}
.calendar-day9 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 57.33%;
    bottom: 0%;
    left: 28.67%;
    background-color: #fff;
    overflow: hidden;
}
.calendar-day10 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 43%;
    bottom: 0%;
    left: 43%;
    background-color: #fff;
    overflow: hidden;
}
.week-6 {
    position: absolute;
    height: 16.33%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 83.67%;
    left: 0%;
    color: #6c7470;
}
.calendar-day14 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 86%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
    color: #ff8800;
}
.calendar-day15 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 71.67%;
    bottom: 0%;
    left: 14.33%;
    background-color: #fff;
    overflow: hidden;
    color: #ff8800;
}
.calendar-day16 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 57.33%;
    bottom: 0%;
    left: 28.67%;
    background-color: #fff;
    overflow: hidden;
    color: #ff8800;
}
.week-2 {
    position: absolute;
    height: 16.33%;
    width: 100%;
    top: 33.67%;
    right: 0%;
    bottom: 50%;
    left: 0%;
}
.calendar-day27 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 86%;
    background-color: #fff;
    overflow: hidden;
    color: #ea5455;
}
.week-3 {
    position: absolute;
    height: 16.33%;
    width: 100%;
    top: 50.51%;
    right: 0%;
    bottom: 33.16%;
    left: 0%;
}
.calendar-day28 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 86%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
    color: #ea5455;
}
.week-4 {
    position: absolute;
    height: 16.33%;
    width: 100%;
    top: 67.35%;
    right: 0%;
    bottom: 16.33%;
    left: 0%;
}
.calendar-day41 {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 86%;
    background-color: #fff;
    overflow: hidden;
    color: #6c7470;
}
.week-5 {
    position: absolute;
    height: 16.33%;
    width: 100%;
    top: 83.67%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.weeks {
    position: absolute;
    height: 81.33%;
    width: 96.7%;
    top: 18.67%;
    right: 1.65%;
    bottom: 0%;
    left: 1.65%;
    font-size: 14px;
}
.calendar {
    position: absolute;
    top: 120px;
    left: 31px;
    width: 455px;
    height: 241px;
    text-align: center;
    font-size: 16px;
    color: #1a365d;
    font-family: Inter;
}
.reservation-calendar {
    position: absolute;
    top: 577px;
    left: 25px;
    border-radius: 8px;
    background-color: #fff;
    width: 528px;
    height: 405px;
    overflow: hidden;
}
.search {
    position: absolute;
    top: 0px;
    left: 277px;
    background-color: #ebf8ff;
    width: 1139px;
    height: 1086px;
}
.main-menu {
    position: absolute;
    top: 15px;
    left: 30px;
    line-height: 14px;
}
.section {
    position: absolute;
    top: 133px;
    left: 0px;
    border-radius: 6px;
    width: 260px;
    height: 44px;
    font-size: 11px;
}
.smart-home-icon {
    position: absolute;
    top: 9px;
    left: 16px;
    width: 22px;
    height: 22px;
}
.dashboard {
    position: absolute;
    top: 9px;
    left: 46px;
    line-height: 22px;
    font-weight: 600;
}
.badge {
    position: absolute;
    top: 9px;
    left: 168px;
    border-radius: 20px;
    background-color: rgba(115, 103, 240, 0.16);
    width: 22px;
    height: 22px;
    display: none;
}
.chevron-down {
    position: absolute;
    top: 11px;
    left: 198px;
    width: 18px;
    height: 18px;
    display: none;
}
.list {
    align-self: stretch;
    position: relative;
    border-radius: 6px;
    background-color: #ebf8ff;
    height: 40px;
    color: #1a365d;
}
.vuesaxlinearcar-icon {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 22px;
    height: 22px;
}
.list1 {
    align-self: stretch;
    position: relative;
    border-radius: 6px;
    height: 40px;
    cursor: pointer;
}
.transactions {
    position: absolute;
    top: 9px;
    left: 48px;
    line-height: 22px;
}
.vuesaxlinearreceipt-text-icon {
    position: absolute;
    top: 7px;
    left: 17px;
    width: 24px;
    height: 24px;
}
.book {
    position: absolute;
    top: 9px;
    left: 47px;
    line-height: 22px;
}
.vuesaxlinearcalendar-add-icon {
    position: absolute;
    top: 9px;
    left: 17px;
    width: 22px;
    height: 22px;
}
.list-parent {
    position: absolute;
    top: 0px;
    left: 13px;
    width: 233px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
}
.user {
    position: absolute;
    top: 30px;
    left: 30px;
    line-height: 14px;
}
.section1 {
    position: absolute;
    top: 192px;
    left: -1px;
    border-radius: 6px;
    width: 260px;
    height: 59px;
    font-size: 11px;
}
.profile {
    position: absolute;
    top: 9px;
    left: 46px;
    line-height: 22px;
}
.list4 {
    position: absolute;
    top: 0px;
    left: 14px;
    border-radius: 6px;
    width: 232px;
    height: 40px;
    cursor: pointer;
}
.components {
    position: absolute;
    top: 251px;
    left: -1px;
    width: 260px;
    height: 88px;
}
.apps-pages {
    position: absolute;
    top: 177px;
    left: 0px;
    width: 260px;
    height: 328px;
}
.logout {
    position: absolute;
    top: 9px;
    left: 44px;
    line-height: 22px;
}
.vuesaxlinearlogout-icon {
    position: absolute;
    top: 9px;
    left: 14px;
    width: 22px;
    height: 22px;
}
.list5 {
    position: absolute;
    top: 524px;
    left: 13px;
    border-radius: 6px;
    width: 232px;
    height: 40px;
    cursor: pointer;
}
.logo-icon {
    position: absolute;
    top: 0px;
    left: 84px;
    width: 33px;
    height: 25px;
}
logo-title {
    position: absolute;
    top: 35px;
    left: 0px;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    width: 401px;
}
.logo-parent {
    position: absolute;
    top: 25px;
    left: 29px;
    width: 401px;
    height: 46px;
    cursor: pointer;
    font-size: 16px;
    font-family: Poppins;
}
.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1a365d;
    width: 277px;
    height: 1086px;
    font-size: 15px;
    color: #ebf8ff;
}
.text {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.pagination-text {
    align-self: stretch;
    width: 18px;
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
    border-radius: 2px;
    background-color: #1e4e8c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    box-sizing: border-box;
}
.pagination-text1 {
    align-self: stretch;
    width: 18px;
    border-radius: 2px;
    background-color: #1e4e8c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    box-sizing: border-box;
}
.pagination-text2 {
    align-self: stretch;
    width: 18px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    box-sizing: border-box;
    color: #1e4e8c;
}
.text10 {
    position: relative;
    line-height: 20px;
    font-weight: 600;
}
.pagination-text10 {
    align-self: stretch;
    width: 43px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    box-sizing: border-box;
    color: #1e4e8c;
}
.pagination {
    position: absolute;
    top: 23px;
    left: 1024px;
    width: 253px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
    font-size: 13px;
    color: #fff;
}
.customer-dashboard {
    width: 100%;
    position: relative;
    background-color: #1a365d;
    height: 1086px;
    overflow: hidden;
    text-align: left;
    font-size: 40px;
    color: #2a69ac;
    font-family: 'Public Sans';
}

